{{> blog-info blog}}

{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if logged_in}}
<script src="/javascript/comment.js"></script>
{{/if}}